{% extends "sistema/home-sistema.html" %}
{% block content %}

<section class="content-header">
    <h1>
        Gestão Imóveis
        <small>Cadastro</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Cadastro</a></li>
        <li class="active">Imóveis</li>
    </ol>
</section><br><br>

<div class="box">
    <div class="box-header">
        <div class="col-md-2">
            <button type="button" class="btn btn-block btn-success" data-toggle="modal" data-target="#modal-incluir-imovel">Incluir novo imóvel</button>
        </div>
    </div>

    <!-- /.box-header -->
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Matricula</th>
                    <th>Residencial</th>
                    <th>Quartos</th>
                    <th>Sabesp</th>
                    <th>Eletropaulo</th>
                    <th>IPTU</th>
                    <th>m²</th>
                    <th>Tipo de serviço</th>
                    <th>Status</th>
                    <th>Descrição</th>
                    <th>Endereço</th>
                    <th>Bairro</th>
                    <th>Cidade</th>
                    <th>CEP</th>
                    <th>UF</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for imovel in imoveis %}
                    <tr>
                        {% for key, values in imovel.items %}
                            {% if key == "tipo_servico" %}
                                {% if values == "VE" %}
                                    <td>Venda</td>
                                {% elif values == "AL" %}
                                    <td>Aluguel</td>
                                {% elif values == "VA" %}
                                    <td>Venda e Aluguel</td>
                                {% else %}
                                    <td> - </td>
                                {% endif %}
                            {% elif key == "status_imovel" %}
                                {% if values == "DI" %}
                                    <td>Disponivel</td>
                                {% elif values == "IN" %}
                                    <td>Indisponivel</td>
                                {% elif values == "AL" %}
                                    <td>Alugado</td>
                                {% else %}
                                    <td> - </td>
                                {% endif %}
                            {% elif key == "residencial" %}
                                {% if values %}
                                    <td>Sim</td>
                                {% else %}
                                    <td>Não</td>
                                {% endif %}
                            {% elif key == "valor_aluguel" %}
                                <!-- DO NOTHING -->
                            {% elif key == "valor_venda" %}
                                <!-- DO NOTHING -->
                            {% elif key == "longitude" %}
                                <!-- DO NOTHING -->
                            {% elif key == "latitude" %}
                                <!-- DO NOTHING -->
                            {% elif "imagem" in key %}
                                <!-- DO NOTHING -->
                            {% elif key == "id_proprietario" %}
                                <!-- DO NOTHING -->
                            {% elif key == "id_corretor" %}
                                <!-- DO NOTHING --> 
                            {% else %}
                                <td>{{ values }}</td>
                            {% endif %}
                        {% endfor %}
                        
                        <td>
                            {% for key, value in imovel.items %}
                                {% if key == 'id' %}
                                    <a href="#" onclick="clickUpdateImovel('{{ value }}')" id_imovel="{{ value }}" data-toggle="modal" data-target="#modal-alterar-imovel"><i class="fa fa-pencil-square-o"></i></a>
                                    <a href="#" id_imovel="{{ value }}" onclick="clickDeleteImovel('{{ value }}');" data-toggle="modal" data-target="#modal-excluir-imovel" class='excluir-cliente'>
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}  
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>

<!-- modal-cadastro de clientes -->
<div class="modal fade" id="modal-incluir-imovel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Incluir novo imovel</h4>
            </div>

            <form id="form-imovel" action="" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <fieldset>
                        <legend>DADOS DO IMÓVEL</legend>
                        <div class="col-md-8"><textarea name="descricao" class="form-control" placeholder="Descrição" required></textarea></div>
                        <div class="col-md-4" style="padding-bottom: 4px;" >
                            <select name="id_proprietario" class="form-control" placeholder="Proprietário" required>
                                <option selected disabled>Nome proprietário</option>
                                {% for i in proprietarios %}
                                    {% for key, value in i.items %}
                                        {% if "id" == key %}
                                            <option value="{{ value }}">
                                        {% endif %}
                                                {% if "nome" == key %}
                                                    {{ value }}</option>
                                                {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-4" style="padding-bottom: 4px;" >
                            <select name="id_corretor" class="form-control">
                                <option selected disabled>Nome Corretor</option>
                                {% for i in corretores %}
                                    {% for key, value in i.items %}
                                        {% if "id" == key %}
                                            <option value="{{ value }}">
                                        {% endif %}
                                                {% if "nome" == key %}
                                                    {{ value }}</option>
                                                {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="col-md-4"><input name="matricula" class="form-control" type="text" placeholder="Matrícula" required></div>
                        <div class="col-md-4"><input name="iptu" class="form-control" type="text" placeholder="IPTU" required></div>
                        <div class="col-md-4"><input name="metro_quadrado" class="form-control" type="text" placeholder="Metros quadrados" required></div>
                        <div class="col-md-4"><input name="sabesp" class="form-control" type="text" placeholder="Sabesp" required></div>
                        <div class="col-md-4"><input name="eletropaulo" class="form-control" type="text" placeholder="Eletropaulo" required></div>
                        <div class="col-md-4"><input name="valor_aluguel" class="form-control" placeholder="Aluguel" type="text"></div>
                        <div class="col-md-4"><input name="valor_venda" class="form-control" placeholder="Venda" type="text"></div>
                        <div class="col-md-12">
                            <div class="form-check form-check-inline">
                                <input id="residencial" name="residencial" class="form-check-input" type="checkbox" value="residencial_true">
                                <label class="form-check-label" for="residencial_true">Residencial</label>
                            </div>
                        </div>
                        <div class="col-md-4" style="padding-bottom: 4px;"><input id="comodos" name="comodos" class="form-control" type="number" placeholder="Comodos" disabled></div>
                        <div class="col-md-4" style="padding-bottom: 4px;"><input name="longitude" class="form-control" type="text" placeholder="Longitude"></div>
                        <div class="col-md-4" style="padding-bottom: 4px;"><input name="latitude" class="form-control" type="text" placeholder="Latitude"></div>
                        <div class="col-md-6" style="padding-bottom: 4px;" >
                            <select name="servico" class="form-control"  required>
                                <option selected disabled>Tipo de serviço</option>
                                <option value="VE">Venda</option>
                                <option value="AL">Aluguel</option>
                                <option value="VA">Venda e Aluguel</option>
                            </select>
                        </div>
                        <div class="col-md-6" style="padding-bottom: 4px;" >
                            <select name="status" class="form-control" required>
                                <option selected disabled>Status</option>
                                <option value="AL">Alugado</option>
                                <option value="DI">Disponivel</option>
                                <option value="IN">Indisponivel</option>
                            </select>
                        </div>
                    </fieldset>
                    <fieldset style="margin-top: 20px;">
                        <legend>ENDEREÇO</legend>
                        <div class="col-md-7"><input name="endereco" class="form-control" type="text" placeholder="Lougradouro" required></div>
                        <div class="col-md-5"><input name="bairro" class="form-control" type="text" placeholder="Bairro" required></div>
                        <div class="col-md-3" style="margin-top: 10px;"><input name="cep" class="form-control" type="text" placeholder="CEP" required>
                        </div>
                        <div class="col-md-7" style="margin-top: 10px;"><input name="cidade" class="form-control" type="text"
                            placeholder="Cidade" required></div>
                        <div class="col-md-2" style="margin-top: 10px;"><input name="uf" class="form-control" type="text" placeholder="UF" required>
                        </div>
                    </fieldset>
                    <fieldset style="margin-top: 20px;">
                        <legend>FOTOS DO IMÓVEL</legend>
                        <div class="col-md-12" style="padding-bottom: 4px;" >
                            <input type="text" class="form-control" type="text" placeholder="URL foto 1" id='photo1' name="photo1"/>
                        </div>
                        <div class="col-md-12" style="padding-bottom: 4px;" >
                            <input type="text" class="form-control" type="text" placeholder="URL foto 2" id='photo2' name="photo2"/>
                        </div>
                        <div class="col-md-12" style="padding-bottom: 4px;" >
                            <input type="text" class="form-control" type="text" placeholder="URL foto 3" id='photo3' name="photo3"/>
                        </div>
                        <div class="col-md-12" style="padding-bottom: 4px;" >
                            <input type="text" class="form-control" type="text" placeholder="URL foto 4" id='photo4' name="photo4"/>
                        </div>
                        <div class="col-md-12" style="padding-bottom: 4px;" >
                            <input type="text" class="form-control" type="text" placeholder="URL foto 5" id='photo5' name="photo5"/>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fechar</button>
                    <button id="btn-cad-cliente" type="submit" class="btn btn-primary">Incluir</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!-- modal-excluir cliente -->
<div class="modal fade" id="modal-excluir-imovel" id_imovel="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Exluir imóvel</h4>
            </div>
            <div class="modal-body">
                <p>Deseja realmente excluir</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Não</button>
                <button type="button" id="btn-delete-imovel" class="btn btn-primary">Sim</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- modal-cadastro de clientes -->
<div class="modal fade" id="modal-alterar-imovel" id_imovel="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Alterar imovel</h4>
            </div>
            <form id="form-imovel" method="" action="">
                <div class="modal-body">
                    <fieldset>
                            <legend>DADOS DO IMÓVEL</legend>
                            <div class="col-md-8">
                                <textarea id="descricao" name="descricao" class="form-control" placeholder="Descrição"></textarea>
                            </div>
                            <div class="col-md-4" style="padding-bottom: 4px;" >
                            <select id="id_proprietario" name="id_proprietario" class="form-control" placeholder="Proprietário" required>
                                <option selected disabled>Nome proprietário</option>
                                    {% for i in proprietarios %}
                                        {% for key, value in i.items %}
                                            {% if "id" == key %}
                                                <option value="{{ value }}">
                                            {% endif %}
                                                    {% if "nome" == key %}
                                                        {{ value }}</option>
                                                    {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-md-4" style="padding-bottom: 4px;" >
                                <select id="id_corretor" name="id_corretor" class="form-control">
                                    <option selected disabled>Nome Corretor</option>
                                    {% for i in corretores %}
                                        {% for key, value in i.items %}
                                            {% if "id" == key %}
                                                <option value="{{ value }}">
                                            {% endif %}
                                                    {% if "nome" == key %}
                                                        {{ value }}</option>
                                                    {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </select>
                            </div>
                            
                            <div class="col-md-4"><input id="matricula" name="matricula" class="form-control" type="text" placeholder="Matrícula" required disabled></div>
                            <div class="col-md-4"><input id="iptu" name="iptu" class="form-control" type="text" placeholder="IPTU" required></div>
                            <div class="col-md-4"><input id="metro_quadrado" name="metro_quadrado" class="form-control" type="text" placeholder="Metros quadrados" required disabled></div>
                            <div class="col-md-4"><input id="sabesp" name="sabesp" class="form-control" type="text" placeholder="Sabesp" required  disabled></div>
                            <div class="col-md-4"><input id="eletropaulo" name="eletropaulo" class="form-control" type="text" placeholder="Eletropaulo" required  disabled></div>
                            <div class="col-md-4"><input id="valor_aluguel" name="valor_aluguel" class="form-control" placeholder="Aluguel" type="text"></div>
                            <div class="col-md-4"><input id="valor_venda" name="valor_venda" class="form-control" placeholder="Venda" type="text"></div>
                            <div class="col-md-12">
                                <div class="form-check form-check-inline">
                                    <input id="residencial" id="residencial" name="residencial" class="form-check-input" type="checkbox" value="residencial_true">
                                    <label class="form-check-label" for="residencial_true">Residencial</label>
                                </div>
                            </div>
                            <div class="col-md-4" style="padding-bottom: 4px;"><input id="comodos" name="comodos" class="form-control" type="number" placeholder="Comodos" disabled disabled></div>
                            <div class="col-md-4" style="padding-bottom: 4px;"><input name="longitude" class="form-control" type="text" placeholder="Longitude"></div>
                            <div class="col-md-4" style="padding-bottom: 4px;"><input name="latitude" class="form-control" type="text" placeholder="Latitude"></div>
                            <div class="col-md-6" style="padding-bottom: 4px;" >
                                <select id="servico" name="servico" class="form-control"  required>
                                    <option selected disabled>Tipo de serviço</option>
                                    <option value="VE">Venda</option>
                                    <option value="AL">Aluguel</option>
                                    <option value="VA">Venda e Aluguel</option>
                                </select>
                            </div>
                            <div class="col-md-6" style="padding-bottom: 4px;" >
                                <select id="status" name="status" class="form-control" required>
                                    <option selected disabled>Status</option>
                                    <option value="AL">Alugado</option>
                                    <option value="DI">Disponivel</option>
                                    <option value="IN">Indisponivel</option>
                                </select>
                            </div>
                        </fieldset>
                        <fieldset style="margin-top: 20px;">
                            <legend>ENDEREÇO</legend>
                            <div class="col-md-7"><input id="endereco" name="endereco" class="form-control" type="text" placeholder="Lougradouro" required disabled></div>
                            <div class="col-md-5"><input id="bairro" name="bairro" class="form-control" type="text" placeholder="Bairro" required disabled></div>
                            <div class="col-md-3" style="margin-top: 10px;"><input id="cep" name="cep" class="form-control" type="text" placeholder="CEP" required disabled>
                            </div>
                            <div class="col-md-7" style="margin-top: 10px;"><input id="cidade" name="cidade" class="form-control" type="text"
                                placeholder="Cidade" required disabled></div>
                            <div class="col-md-2" style="margin-top: 10px;"><input id="uf" name="uf" class="form-control" type="text" placeholder="UF" required disabled>
                            </div>
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fechar</button>
                        <button id="btn-atualizar-imovel" type="button" class="btn btn-primary">Alterar</button>
                    </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

{% endblock content %}