{% extends "sistema/home-sistema.html" %}
{% block content %}


<div class="box">
    <!-- /.box-header -->
    <div class="box-body text-center">
        <legend>Relatório</legend>
        <table id="example1" class="table table-bordered table-striped text-center">
            <thead>
                <tr>
                    <th>Valor aluguel</th>
                    <th>Nome</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {{boletos}}
                    {% for boleto in boletos %}
                        <td>{{ boleto.contrato.id_imovel.valor_aluguel }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="mapas_imoveis"> 
    <legend>Mapa</legend>
    <div action="" method="GET" class="mapa-busca" style="padding-bottom: 3px;" >
        {% csrf_token %}
        <select id="select_options" name="id_imovel" class="form-control" placeholder="Imovel">
            <option selected disabled>Nome imovel</option>
            {% for i in imoveis %}
            {% for key, value in i.items %}
            
                {% if "id" == key %}
                    <option value="{{ value }}">
                {% endif %}
                        {% if "endereco" == key %}
                            {{ value }}</option>
                        {% endif %}
    
            {% endfor %}
            {% endfor %}
        </select>
    </div>
<div id="map"></div>
{% endblock content %}